- content_for :title do
  Explorer

%h3
  %div Subzero Explorer

.container
  .row
    .col-md-4
      %h4 Products
      .explore-link
        - @vendors.each do |vendor|
          %div
            %a{ :href => "/explorer/products/#{vendor[:name]}"} 
              = vendor[:name]
            updates: #{vendor[:count]}
    .col-md-4
      %h4 Vendors
      .explore-link
        %a{ :href => "/explorer/vendors"} 
          Picture Not Found
    .col-md-4
      %h4 Objects
      .explore-link
        %a{ :href => "/explorer/objects"} 
          Picture Not Found