- content_for :title do
  Explorer
- last_update = 0

%h3
  %div Firmware List

- @firmware.each do |machine, updates|
  %h5= machine
  %div
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %th ID
          %th Name
          %th Date
          %th Stats
          %th Firmware ID
          %th Actions
      %tbody
        - updates.each do |firmware_update|
          = render "firmware", :firmware => firmware_update, :last_update => last_update
          - last_update = firmware_update["date"]